html { height: 100%; }


body {
    min-height: 100%;
    margin: 0;
    transition: color .5s ease-in-out; 
}

h1 {
    font-size: 23vw;
    line-height: .8;
    margin-top: auto;
    margin-bottom: auto;
    bottom : 0;
}

h4 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    cursor: pointer;
    margin-right: 1vw;
    background: none;
    border: none;
    /*
    margin-bottom: .3vw;
    background: rgba(255, 255, 255, 0.1);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border: 1px solid rgba( 255, 255, 255, 0.1 );
*/
}


.container {
    display :grid;
    height: 100vh;
    box-sizing: border-box;
    padding-top : 2em;
    padding-bottom: 2em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "   a    b    c   "
}

.a{  
    grid-area: a;
    padding-left: 2vw;
}

.b{
    grid-area: b;
    padding-left: 1vw;
    border-left: 1px solid;

}

.c {
    grid-area: c;
    padding-left: 1vw;
    border-left: 1px solid;
}


.clicked {
    color : black; 
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit : cover;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.time,
.min,
.sec{
    position : fixed;
    letter-spacing: -.8rem;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    display: none;
}

